doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  script(src=' https://code.jquery.com/jquery-3.1.1.min.js')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  title Sign up
header(style='height: 100px;width:60%;;margin-left: 20%;margin-right: 20%;')
  .fixed-top.bg-dark(style='display:block;')
    nav.d-flex.justify-content-between.text-white(style='width:60%;height:100%;margin-left: 20%;margin-right: 20%;')
      // pt-3 pl-5 pr-5 mb-2
      h1(onclick="javascript:location.href='/'") DeBug2
section.pt-5(style='height: 100%;width:60%;;margin-left: 20%;margin-right: 20%;text-align: center; ')
  p(style='color: gray;font-size:13px;') 想使用DeBug2嗎，填完下面的資料並註冊就可以囉 
  form.pt-3(style='height: 100%;width:40%;;margin-left: 30%;margin-right: 30%;', id='signupForm')
    .form-group
      //label(for='exampleInputEmail1') 使用者ID
      input#userid.form-control(style='margin: 0.5em 0;' type='userid' aria-describedby='useridHelp' placeholder='使用者ID')
    .form-group
      //label(for='exampleInputPassword1') 密碼
      input#Password1.form-control(style='margin: 0.5em 0;' type='password' placeholder='密碼')
    .form-group
      //label(for='exampleInputPassword2') 確認密碼
      input#Password2.form-control(style='margin: 0.5em 0;' type='password' placeholder='確認密碼')
    .form-group
      //label(for='exampleNickName1') 暱稱
      input#NickName.form-control(style='margin: 0.5em 0;' type='nickname' placeholder='暱稱')
    p#alert(style='display:none;color:red') 這個使用者ID已經被使用了
    button.btn.btn-primary.submit(type='submit') 註冊
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='/JS/signup.js' defer='')
//script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
