<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>User_info</title>
  </head>
  <body >
    <header style="height: 120px;width:60%;;margin-left: 20%;margin-right: 20%;">
      <div class="fixed-top bg-dark" style="display:block;" >
         <nav class="d-flex justify-content-between  text-white " style="width:60%;height:100%;margin-left: 20%;margin-right: 20%;"> <!--pt-3 pl-5 pr-5 mb-2 -->
            <h1 onclick="javascript:location.href='Home.html'" >DeBug2</h1>
          </nav>
      </div>
      
    </header>
    <section class="pt-5" style="height: 100%;width:40%;;margin-left: 30%;margin-right: 30%; ">
    <h3 style="text-align: center;" class="mb-5">Personal Information</h3>
    <div class="d-flex align-items-stretch mb-5 ml-5" >
        <div class="d-flex  flex-column justify-content-center" style="width:50%">
            <p class="font-weight-bold">UserID</p>
            <p class="font-weight-bold">Nickname</p>
            <p class="font-weight-bold">Join Time</p>
            <p class="font-weight-bold">Last active time</p>
        </div>
        <div class="d-flex  flex-column justify-content-center" style="width:50% ">
            <p style="display:none;" id="user_id"></p>
            <p style="display:none;" id="password"></p>
            <p style="display:none;" id="join_time"></p>
            <p style="display:none;" id="last_active_time"></p>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary mr-3">Change password</button>
        <button type="button" class="btn btn-outline-danger">Delete account</button>
    </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>